<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title color="primary" style="text-align: center;">
      Exercícios - Radio Label
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="alert_ex1">
    <ion-alert
      trigger="ver-desconto"
      header="Valor total:"
      message="{{res_ex1}}"
      [buttons]="alertButtons"
    ></ion-alert>
  </div>

  <div style="background-color: rgb(247, 210, 4); padding: 5px; display: flex; flex-wrap: wrap; flex-direction: column;">
    <h1 style="text-align: center; font-size: 1.5rem;"><strong>Exercício 1</strong></h1>
    <ion-input label="Digite o valor da compra" labelPlacement="floating" placeholder="Apenas números positivos" [(ngModel)]="valor_compra"></ion-input><br>
    <ion-radio-group [(ngModel)]="tipoDesconto">
      <p>Selecione o tipo de desconto</p>
      <ion-radio value="vista">Desconto a vista</ion-radio><br><br>
      <ion-radio value="prazo">Desconto a prazo</ion-radio><br><br>
      <ion-radio value="PIX">PIX</ion-radio><br><br>
    </ion-radio-group>

    <ion-button expand="block" id="ver-desconto" (click)="Desconto()">Calcular Desconto</ion-button><br>
  </div>

  <ion-item-divider color="dark"></ion-item-divider>

  <div class="alert_ex2">
    <ion-alert
      trigger="ver-IMC"
      header="Resultado:"
      message="{{res_ex2}}"
      [buttons]="alertButtons"
    ></ion-alert>
  </div>

  <div style="background-color: rgb(247, 210, 4); padding: 5px; display: flex; flex-wrap: wrap; flex-direction: column;">
    <h1 style="text-align: center; font-size: 1.5rem;"><strong>Exercício 2</strong></h1>
    <ion-input label="Digite sua altura" labelPlacement="floating" placeholder="Em metros" [(ngModel)]="altura"></ion-input><br>
    <ion-radio-group [(ngModel)]="faixaPeso">
      <p>Selecione sua faixa de peso</p>
      <ion-radio value="-50kg">Abaixo de 50kg</ion-radio><br><br>
      <ion-radio value="50-70kg">50-70kg</ion-radio><br><br>
      <ion-radio value="70-90kg">70-90kg</ion-radio><br><br>
      <ion-radio value="90kg+">Acima de 90kg</ion-radio><br><br>
    </ion-radio-group>

    <ion-button expand="block" id="ver-IMC" (click)="IMC()">Calcular IMC</ion-button><br>
  </div>

  <ion-item-divider color="dark"></ion-item-divider>

  <div class="alert_ex3">
    <ion-alert
      trigger="ver-valor-final"
      header="Valor final do investimento:"
      message="{{res_ex3}}"
      [buttons]="alertButtons"
    ></ion-alert>
  </div>

  <div style="background-color: rgb(247, 210, 4); padding: 5px; display: flex; flex-wrap: wrap; flex-direction: column;">
    <h1 style="text-align: center; font-size: 1.5rem;"><strong>Exercício 3</strong></h1>
    <ion-input label="Digite o valor inicial investido" labelPlacement="floating" placeholder="Apenas números positivos" [(ngModel)]="v_inicial"></ion-input><br>
    <ion-input label="Digite a taxa de juros mensais" labelPlacement="floating" placeholder="Apenas números" [(ngModel)]="taxa"></ion-input><br>
    <ion-radio-group [(ngModel)]="periodoEscolhido">
      <p>Selecione o tempo de aplicação</p>
      <ion-radio value="6-meses">6 meses</ion-radio><br><br>
      <ion-radio value="12-meses">12 meses</ion-radio><br><br>
      <ion-radio value="24-meses">24 meses</ion-radio><br><br>
    </ion-radio-group>
    
    <ion-button expand="block" id="ver-valor-final" (click)="Montante()">Calcular Montante</ion-button><br>
  </div>
</ion-content>
